<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540676712745-gijpk6kpgqn0ua8e6i4d976ff2c7idq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540676712745-gijpk6kpgqn0ua8e6i4d976ff2c7idq7</string>
	<key>API_KEY</key>
	<string>AIzaSyCoKkCr2KF9b1RmIZEX5yc1XmvdabXtkow</string>
	<key>GCM_SENDER_ID</key>
	<string>540676712745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chatapp.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-d4457</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-d4457.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540676712745:ios:223c4d7860c037bbbeaf38</string>
</dict>
</plist>